@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");

body {
    font-family: 'cabin Sketch';
    background-color: lightblue !important;
}

h1 {
    font-style: italic;
    text-align: center;
    color: 
}

h2 {
    text-align: center;
    padding-top: 50px;
}

h4 {
    text-align: center;
}

form {
    text-align: center;
}

<<<<<<< HEAD

=======
>>>>>>> dev


