@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

body {
    font-family: 'Cabin Sketch', cursive;
    background-image: url("/assets/images/fond_gobelets.jpg");
    background-size: cover;
}

h1 {
    font-style: italic;
    text-align: center;
    color: 
}

h2 {
    text-align: center;
    padding-top: 50px;
}

h4 {
    text-align: center;
}

form {
    text-align: center;
}

card {
    opacity: 0.7;
}



